body{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.todobox{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    flex-direction: column;
    gap: 15px;
    background-color: antiquewhite;
    width: 400px;
    padding: 20px;
    box-shadow: 0px 0px 3px black;
    border-radius: 3px;
}

#con{
    display: flex;
      background-color: rgba(243, 183, 104, 0.381);
    justify-content: center;
    align-items: center;
    margin: 10px;
    
}

