body{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.todobox{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    flex-direction: column;
    gap: 15px;
    background-color: antiquewhite;
    width: 400px;
    padding: 20px;
    box-shadow: 0px 0px 3px black;
    border-radius: 3px;
}

#con{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px;
    
}
.task{
    display: flex;
    width: 400px;
      background-color: rgba(243, 150, 104, 0.718);
 justify-content: space-between;
    align-items: center;
    margin: 8px;
   padding: 0px 10px;
   border-radius: 10px;
    

}

.btns{
    display: flex;
    gap: 15px;
    margin-right: px;

}

table{
      border-spacing: 10px 10px;
}

